                    body {
                        font-family: Arial, Helvetica, sans-serif;
                    }
                    
                    .header__svg {
                        background-color: black;
                    }
                    
                    .header__svg {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 10px 40px;
                    }
                    
                    .header__svg a {
                        border-radius: 17px;
                    }
                    
                    .header__svg a:hover {
                        background-color: rgb(20, 95, 160);
                    }
                    
                    .header__svg button {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-radius: 17px;
                        background: #ad400a;
                        border-bottom: 16px;
                    }
                    
                    .section__svg {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-radius: 19px;
                        background: black;
                        border-bottom: 16px;
                        color: white;
                        gap: 10px;
                        margin: 12px;
                        padding: 12px 13px;
                    }
                    
                    .section__svg button {
                        border-radius: 17px;
                        background: #ad400a;
                        border-bottom: 16p
                    }
                    
                    .footer__svg {
                        background-color: black;
                        color: white;
                        border-radius: 12px;
                        text-align: center;
                    }