                        body {
                            font-family: Arial, Helvetica, sans-serif;
                        }
                        
                        .just {
                            background-color: black;
                        }
                        
                        header a {
                            background: white;
                            justify-content: in;
                            align-items: flex-end;
                            display: inline-flex;
                            gap: 20px;
                            border-radius: 14px 13px 10px;
                        }
                        
                        header a:hover {
                            background-color: rgb(20, 95, 160);
                            width: 100px;
                        }
                        
                        header button {
                            display: inline-flex;
                            justify-content: space-between;
                            align-items: center;
                            border-radius: 14px 13px 10px;
                            background: #503e35;
                        }
                        
                        .Page {
                            color: #ddd;
                            background-color: black;
                            border-radius: 17px;
                            justify-content: space-between;
                            align-items: center;
                        }
                        
                        .btu button {
                            display: flex;
                            border-radius: 17px;
                            justify-content: space-between;
                            align-items: center;
                        }
                        
                        .Page img {
                            width: 150px;
                            height: auto;
                        }
                        
                        .Page div {
                            display: flex;
                            flex-direction: column;
                        }