body {
    font-family: Arial, Helvetica, sans-serif;
}

.just {
    background-color: black;
}

header a {
    display: flex;
    background: white;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 10px;
    position: relative;
    left: auto;
}

header a:hover {
    background-color: rgb(20, 95, 160);
    width: 100px;
}

header button {
    justify-content: center;
    align-items: center;
    background: #d05d23;
}

.Page {
    display: flex;
    justify-content: space-between;
    color: #ddd;
    background-color: black;
    border-radius: 17px;
    align-items: center;
    padding: 16px 50px;
    flex-direction: row;
}

.here {
    background-color: rgb(213, 110, 31);
    border-radius: 17px;
}

p {
    line-height: 1.6;
    max-width: 500px;
}

.img {
    display: block;
    margin: 20px auto;
}

.now {
    border-radius: 17px;
}

.contaicner button {
    background: #d05d23;
    position: absolute;
    left: auto;
    border-radius: 17px;
}

.contaicner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    background-color: #fff;
    border-radius: 17px;
}

.contaicner-now span {
    gap: 30px;
    align-items: center;
    padding: 60px 17px 19px 18px;
}

footer {
    padding: 17px;
    border-radius: 17px 18px 19px 19px;
    color: white;
    background-color: black;
    text-align: center;
    font-size: xx-large;
}

.more-contaicner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    background-color: #fff;
    border-radius: 17px;
}

.more-contaicner button {
    background: #d05d23;
    position: absolute;
    left: auto;
    border-radius: 17px;
}