                        body {
                            font-family: Arial, Helvetica, sans-serif;
                        }
                        
                        .just {
                            background-color: black;
                        }
                        
                        header {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 10px 40px;
                        }
                        
                        header a {
                            border-radius: 17px;
                            padding: 18px;
                        }
                        
                        header a:hover {
                            background-color: rgb(20, 95, 160);
                            width: 100px;
                        }
                        
                        header button {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            border-radius: 17px;
                            background: #ad400a;
                            border-bottom: 16px;
                        }
                        
                        .Page {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            border-radius: 17px;
                            background: #ad400a;
                            border-bottom: 16px;
                        }
                        
                        .btu {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            position: relative;
                        }
                        
                        .Page {
                            color: #ddd;
                            background-color: black;
                            border-radius: 17px 18px 19px;
                            justify-content: space-between;
                            align-items: center;
                            padding: 12px auto;
                        }
                        
                        .btu button {
                            background-color: #ad400a;
                            display: flex;
                            border-radius: 17px;
                            justify-content: space-between;
                            align-items: center;
                        }
                        
                        .btu img {
                            position: relative;
                            display: inline-flex;
                            border-radius: 17px 18px 18px 19px;
                            justify-content: space-between;
                            align-items: center;
                            border-bottom: 16px;
                            padding: 17px;
                            margin: 18px;
                        }
                        
                        .contaicner-now button {
                            background: #ad400a;
                            border-radius: 17px;
                        }
                        
                        .more-contaicner {
                            position: relative;
                            display: block;
                            border-radius: 17px 18px 18px 19px;
                            justify-content: space-between;
                            align-items: center;
                            border-bottom: 16px;
                            padding: 17px;
                            margin: 18px;
                        }
                        
                        footer {
                            border-radius: 18px;
                            font-size: xx-large;
                            color: #ddd;
                            text-align: center;
                            background-color: #020101;
                        }
                        
                        .contaicner-now {
                            padding: auto;
                            width: 180px;
                            background-color: #EEEEEEEE;
                        }
                        
                        .main {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 10px 40px;
                        }
                        
                        .main button {
                            background: #ad400a;
                            display: flex;
                            border-radius: 17px;
                            justify-content: space-around;
                            align-items: center;
                        }
                        
                        .main img {
                            justify-content: space-between;
                            align-items: center;
                            border-radius: 18px;
                        }